{
  "extends": "airbnb",
  "rules": {
    "indent": [2, "tab", {"VariableDeclarator": 1, "SwitchCase": 1}],
    "max-len": [2, 120, 2],
    "object-curly-spacing": [2, "never"],
    "quotes": [2, "single", {"allowTemplateLiterals": true}],
  }
}
